#formulario{
    display: grid;
    grid-template-columns: repeat(8,1fr); /*7 columnas y 1 fraccion*/
    gap: 10px; /*separacion entre */
}

body{
    background-color:#f8c4bc;
}

#contenidoTabla{
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    width: 79%;
    align-content: start;
}

header{
    background-color: #f49fd1;
    height: 100px;
    text-align: center;
}

footer{
    background-color: #f49fd1;
    height: 80px;
}

button{
    width: 80%;
}

#btnBorrar{
    width: 5%;
}
